$color-gray: #999999;
$color-gray--lighter: #cccccc;

$color-red: #bf0426;
$color-green: #8cd34c;
$color-black: #101010;
$color-white: #f2f2f2;
$color-brown: #d9d5a0;
$color-blue: #6b9fbf;

$color-main: $color-blue;
$color-text-main: $color-white;
$color-background: $color-black;
