$color-gray: #b2b2b2;
$color-gray--lighter: #cccccc;

$color-red: #bf0426;
$color-black: #0d0d0d;
$color-white: #f2f2f2;
$color-brown: #d9d5a0;
$color-blue: #6b9fbf;

$color-main: $color-red !global;
