$font-size-small: 0.95rem;
$font-size-medium: 1rem;
$font-size-huge: 1.25rem;

$font-type-main: "IBM Plex Mono";
$font-type-second: "Roboto";

body {
  font-family: "IBM Plex Mono", sans-serif;
}

p {
  font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

h1 {
  font-size: $font-size-huge;
}

button,
a {
  text-transform: uppercase;
}

section {
  a {
    font-size: $font-size-small;
    color: inherit;
  }
  h2,
  h3 {
    font-size: calc($font-size-medium * 0.9);
    font-weight: 500;
  }
  p,
  li {
    font-size: $font-size-medium;
    font-family: "Roboto";
  }
}
