$font-size-small: 0.95rem;
$font-size-medium: 1rem;
$font-size-huge: 1.25rem;

$font-type-main: "IBM Plex Mono";

body {
  font-family: "IBM Plex Mono", sans-serif;
}

p {
  font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

button,
a {
  text-transform: uppercase;
}

section {
  a {
    font-size: $font-size-small;
    color: inherit;
  }
  h1 {
    font-size: $font-size-huge;
  }
  h2 {
    font-size: calc($font-size-medium * 0.9);
  }
  h3 {
    font-size: calc($font-size-medium * 0.85);
  }
  p {
    font-size: $font-size-medium;
  }
}
